<div class="ui grid top attached menu ml-color">
   <div class="sixteen column row">
      <div class="left floated four wide mobile four wide tablet one wide computer column">
         <a class="item" (click)="toggleButton()">
            <i class="large sidebar icon"></i>
         </a>
      </div>
      <div class="eight wide mobile eight wide tablet fourteen wide computer center aligned centered column">
         <a class="center aligned" routerLink="/home">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/MercadoLibre_logo.PNG" width="150vw" alt="">
         </a>
      </div>
      <div class="four wide mobile four wide tablet one wide computer column">
         <a class="item right aligned" routerLink="/shoping-car">
            <i class="big shopping cart icon"></i>
         </a>
      </div>
   </div>
</div>
<div class="ui left vertical inverted sidebar labeled icon menu">
   <a class="item" routerLink="/home">
      <i class="home icon"></i>
      Inicio
   </a>
   <a class="item" routerLink="/shoping-car">
      <i class="shopping cart icon"></i>
      Carrito
   </a>
   <!-- <a class="item">
      <i class="block layout icon"></i>
      Topics
   </a>
   <a class="item">
      <i class="smile icon"></i>
      Friends
   </a> -->
</div>