<app-search-bar></app-search-bar>
<div class="padded ui centered celled grid">
   <div class="sixteen wide mobile fourteen wide tablet six wide computer column">
      <div class="ui container">
         <div class="ui text slides content">
            <i class="big left angle icon"></i>
            <i class="big right angle icon"></i>
            <div class="slide active column centered middle aligned">
               <img class="ui image centered " src="{{images[0].url}}">
            </div>
            <div class="slide column centered middle aligned" *ngFor="let img of images | slice:1:20; let i=index">
               <img class="ui image centered " src="{{img.url}}">
            </div>
         </div>
      </div>
   </div>

   <div class="sixteen wide mobile fourteen wide tablet three wide computer column padded box">
      <h2 class="ui header">
         {{item.title}}
      </h2>
      <div class="ui label">
         <i class="hand point right outline icon"></i> {{item.sold_quantity}} Vendidos
      </div>
      <h4 class="ui disabled header" style="text-decoration: line-through;">{{item.original_price | currency : 'USD' : 'symbol' : '1.0-0'}}</h4>
      <h1 class="ui up-size huge header light">{{item.price | currency : 'USD' : 'symbol' : '1.0-0'}}</h1>
      <h4 class="ui header ml-color-green light"> <i class="shipping fast icon"></i>{{item.shipping.free_shipping}}</h4>
      <h3 class="ui header">Garantía: {{item.warranty}}</h3>
      <div class="ui vertical animated blue fluid big button ml-color-blue" tabindex="0" (click)="addToCar()">
         <div class="hidden content"> <i class="cart plus icon"></i></div>
         <div class="visible content">
            <h4 class="light">Comprar</h4>
         </div>
      </div>
   </div>
</div>

<div class="ui basic modal">
   <div class="ui icon header">
      <i class="checkmark cart icon"></i>
      Producto agregadocon exito al carrito de compras.
   </div>
   <div class="actions center aligned">
      <div class="ui grey basic cancel inverted button" (click)="closeModal()">
         <i class="reply icon"></i>
         Quiero seguir comprando
      </div>
      <div class="ui green ok inverted button" (click)="closeModal()" routerLink="/shoping-car">
         <i class="cart plus icon"></i>
         Quiero ir al carrito
      </div>
   </div>
</div>