<div class="ui link centered card">
   <div class="image">
      <img src="{{product.thumbnail}}">
   </div>
   <div class="content">
      <a class="header">
         <i class="dollar sign icon"></i>
         {{product.price}}
      </a>
      <div class="meta">
         <span class="date">Cantidad: {{product.available_quantity}}</span>
      </div>
      <div class="description">
         {{product.title}}
      </div>
   </div>
   <div class="extra content">
      <p>
            {{product.address.city_name}} - {{product.address.state_name}} 
      </p>
   </div>
</div>