<div class="ui grid doubling stackable padded four column centered">
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
   <div class="four wide column">
      <app-product-card></app-product-card>
   </div>
</div>