<div class="ui grid top menu centered">
   <div class="sixteen wide tablet six wide computer column">
      <div class="item">
         <div class="ui icon input">
            <input type="text" placeholder="Buscar" [(ngModel)]="search_string" (keydown)="onKeydown($event)">
            <a class="item" (click)="getProducts()">
               <i class="search link icon"></i>
            </a>
         </div>
      </div>
   </div>
</div>

<div class="ui grid padded four column centered">
   <div class="eight wide mobile four wide tablet three wide computer column" *ngFor="let product of cards">
      <app-product-card [product]="product"></app-product-card>
   </div>
</div>