<div class="ui grid top menu centered">
   <div class="sixteen wide tablet eight wide computer column">
      <div class="item">
         <div class="ui icon input">
            <a class="item right" (click)="randomSearch()">
               <i class="eye link icon"></i>
            </a>
            <input type="text" placeholder="Buscar" [(ngModel)]="search_string" (keydown)="onKeydown($event)">
            <a class="item" (click)="search()">
               <i class="search link icon"></i>
            </a>
         </div>
      </div>
   </div>
</div>

<div class="ui grid padded one centered">
   <div class="ui pagination menu centered">
      <a class="icon item" (click)="previousPage()">
         <i class="left arrow icon"></i>
      </a>
      <a class="active item">
         {{count}}
      </a>
      <a class="icon item" (click)="nextPage()">
         <i class="right arrow icon"></i>
      </a>
   </div>
</div>

<div class="ui grid padded four column centered">
   <div class="eight wide mobile four wide tablet three wide computer column" *ngFor="let product of cards">
      <app-product-card [product]="product"></app-product-card>
   </div>
</div>

<div class="ui grid padded one centered">
   <div class="ui pagination menu centered">
      <a class="icon item" (click)="previousPage()">
         <i class="left arrow icon"></i>
      </a>
      <a class="active item">
         {{count}}
      </a>
      <a class="icon item" (click)="nextPage()">
         <i class="right arrow icon"></i>
      </a>
   </div>
</div>