<div class="ui grid centered successful">
  <div class="middle aligned column">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    <h1>¡Tu compra se ha procesado con éxito!</h1>
    <h3>Gracias por confiar en nuestros productos</h3>
    <br>
    <div class="ui animated fade blue big button ml-color-blue light" tabindex="0" routerLink="/home">
      <div class="visible content">
        Continuar
      </div>
      <div class="hidden content">
        <i class="reply icon"></i>
      </div>
    </div>
  </div>
</div>
